{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>HCK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}">


  <link href="{% static 'core/bootstrap/three/css/bootstrap.min.css' %}" rel="stylesheet">


<link href="{% static 'core/bootstrap/four/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="/core/templates/core/style.css" rel="stylesheet" type="text/css">

  </head>
<body>




  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1D8348; color: white">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  <a class="nav-link" href="{% url 'index' %}" style="color: #f1f1ea ; font-size: 20px; font-weight: bold;">Herald Alumni <br><span class="sr-only">(current)</span></a>
 
 <a style="font-weight: bold">Connect with your College</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>

  <a class="nav-link" href="{% url 'register' %}" style="color: #f8f8ed; font-size: 20px; font-weight: bold;">Register<span class="sr-only"></span></a>

  <a class="nav-link" href="{% url 'index' %}" style="color: #fdfdf3; font-size: 20px; font-weight: bold;">Login<span class="sr-only"></span></a>


  </div>
</nav>

<body id="bg" >





{% block body %}
{% endblock %}



<style>
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   height: 60px;
   width: 100%;
   background-color: #9FE2BF;
   color: #0c0c0c;
   text-align: center;
}
</style>

<div class="fixed-bottom" id="footer">

<div class="coca" style="padding-top: 15px;font-style:cambria ; font-size: 18px; font-weight: bold;">
<p>Copyright RabinPatel © 2022. All Rights Reserved.</p>
</div>
</div>

</body>
</html>
